{% extends 'healthyfriends/base.html' %}
{% load static %}
{% load mathfilters %}
{% load socialaccount %}
{% providers_media_js %}

{% block title %}
{{ user.username }}'s Achievements 
{% endblock %}

{% block content %}
  {% if goals_list %}
    {% for goal in goals_list %}
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="#history" role="tab" aria-controls="history" aria-selected="false">History</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <h4 class="card-title">{{goal.description}}</h4>
              <h6 class="card-subtitle mb-2">Last Updated: {{goal.last_update}}</h6>
              
              <div class="tab-content mt-3">
                <div class="tab-pane active" id="description" role="tabpanel">
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:{{goal.current_progress|mul:100|intdiv:goal.desired_progress}}%" aria-valuenow="{{ goal.current_progress }}|intdiv:{{ goal.desired_progress }}" aria-valuemin="0" aria-valuemax="100">
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="history" role="tabpanel" aria-labelledby="history-tab">  
                  <p class="card-text">First settled around 1000 BCE and then founded as the Etruscan Felsina about 500 BCE, it was occupied by the Boii in the 4th century BCE and became a Roman colony and municipium with the name of Bononia in 196 BCE. </p>
                  <a href="#" class="card-link text-danger">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <br>
    {% endfor %}
  {% else %}
      <p>You have no saved goals.</p>
  {% endif %}
{% endblock %}
