{% extends 'healthyfriends/base.html' %}
{% load static %}

<head>
<style>
    h1 {text-align: center;}
</style>
</head>

{% load socialaccount %}
{% providers_media_js %}

{% block title %}
{{ user.username }}'s Achievements 
{% endblock %}

{% block content %}
<h1>Lifetime points: {{achievements_ct}}</h1>
<p>Recent Achievements</p>
<table style="width:100%">
    <tr>
        <th>Recent Achievements</th>
        <th>Points</th>
    </tr>
    <tr>
        <th>
            {% for i in achievements %}
            <li>{{i}}</li>
            {% endfor %}
        </th>
        <th>
            {% for i in achievements %}
            <li>{{1}}</li>
            {% endfor %}
        </th>
    </tr>
</table>

{% endblock %}
