{% extends 'healthyfriends/base.html' %}
{% load static %}
{% load mathfilters %}
{% load socialaccount %}
{% providers_media_js %}

{% block title %}
{{ user.username }}'s Goals 
{% endblock %}

{% block content %}

  {% if error_message%}<p style="color: red"><strong>{{error_message}}</strong></p>{% endif %}

  <div class="container">
    <div class="row">
      <div class="col-8">
        <h3 style="padding-bottom: 10px">In Progress</h3>
        {% if goalsInProgress %}
          {% for goal in goalsInProgress %}
            {% if goal.goal_belongs_to == user.username %}
              {% with goal.id|stringformat:"s" as goalid %}
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-header">
                          <ul class="nav nav-tabs card-header-tabs" id="goal-{{goalid}}" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" style="color:black" id="progress-tab-{{goalid}}" data-toggle="tab" href="#progress-{{goalid}}" role="tab" aria-controls="progress-{{goalid}}" aria-selected="true">Progress</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link"  style="color:black" id="update-tab-{{goalid}}" href="#update-{{goalid}}" data-toggle="tab" role="tab" aria-controls="update-{{goalid}}" aria-selected="false">Update</a>
                            </li>
                            <!-- added here -->
                            <li class="nav-item">
                              <a style="color:red"class="nav-link"  style="color:black" id="delete-tab-{{goalid}}" href="#delete-{{goalid}}" data-toggle="tab" role="tab" aria-controls="delete-{{goalid}}" aria-selected="false">Delete</a>
                            </li>

                          </ul>
                        </div>
                        <div class="card-body">
                          <h4 class="card-title">{{goal.description}}</h4>
                          <h6 class="card-subtitle mb-2">Last Updated: {{goal.last_update}}</h6>
                          
                          <div class="tab-content mt-3">
                            <div class="tab-pane active" id="progress-{{goalid}}" role="tabpanel" aria-labelledby="progress-tab-{{goal.id}}">
                              <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width:{{goal.current_progress|mul:100|intdiv:goal.desired_progress}}%; color:black; font-weight:bold" aria-valuenow="{{ goal.current_progress }}|intdiv:{{ goal.desired_progress }}" aria-valuemin="0" aria-valuemax="100">
                                  {{goal.current_progress}} / {{goal.desired_progress}} {{goal.metric}}
                                </div>
                              </div>
                            </div>

                            <div class="tab-pane" id="update-{{goalid}}" role="tabpanel" aria-labelledby="update-tab-{{goalid}}">  
                              <form action="{% url 'updateGoal' %}" method="POST">
                                {% csrf_token %}

                                <input type='hidden' value='{{goal.id}}' name='id'>
                                <input type='hidden' value='{{user.username}}' name='username'>

                                <textarea type="text" class="form-control" id="description-{{goalid}}" name="description-{{goalid}}">{{goal.description}}</textarea><br>


                                <script type="text/javascript">
                                  function noMetrics(el1, el2) {
                                    var e1 = document.getElementById(el1);
                                    var e2 = document.getElementById(el2);
                                    //var e3 = document.getElementById(el3);

                                    if(e1.disabled){
                                      e1.disabled = false;
                                    } else {
                                      e1.disabled = true;
                                    }

                                    if(e2.disabled){
                                      e2.disabled = false;
                                    } else {
                                      e2.disabled = true;
                                    }
                                    
                                  }

                                  function allowDelete(el1){
                                    var e1 = document.getElementById(el1);
                                    if(e1.disabled){
                                      e1.disabled = false;
                                      e1.classList.remove("btn-secondary")
                                      e1.classList.add('btn-danger')
                                    } else {
                                      e1.disabled = true;
                                      e1.classList.remove('btn-danger')
                                      e1.classList.add('btn-secondary')
                                    }
                                  }
                                </script>


                                <div class="form-row">
                                  <div class="col">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                      <label class="btn btn-outline-info active">
                                        <input onchange="noMetrics('metric-{{goalid}}', 'desired-{{goalid}}');" type="radio" name="metrics-toggle-{{goalid}}" id="toggle1-{{goalid}}" value="Y-Metrics" checked> Track Metrics
                                      </label>
                                      <label class="btn btn-outline-info">
                                        <input onchange="noMetrics('metric-{{goalid}}', 'desired-{{goalid}}');" type="radio" name="metrics-toggle-{{goalid}}" id="toggle2-{{goalid}}" value="N-Metrics"> Ignore Metrics
                                      </label>
                                    </div>
                                  </div>

                                  <div class="col">
                                    <input type="text" class="form-control" id="metric-{{goalid}}" name="metric-{{goalid}}" value="{{goal.metric}}"></input><br>
                                  </div>
                                </div>

                                <div class="form-row">
                                  <div class="col">
                                    <input type="text" class="form-control" id="current-{{goalid}}" name="current-{{goalid}}" value="{{ goal.current_progress|stringformat:"s" }}"></input>
                                    <p style="font-size: 8px">*When 'Ignore Metrics' selected, any value gte 1 indicates completion. Any value lt 1 mean incomplete</p>
                                  </div>
                                  <div class="col">
                                    <input type="text" class="form-control" id="desired-{{goalid}}" name="desired-{{goalid}}" value="{{ goal.desired_progress|stringformat:"s" }}"></input><br>
                                  </div>
                                </div>
                                
                                <input style="border:none" type="submit" class="btn-block btn-lg btn-info" value="Update">
                              </form>
                            </div>

                            <!-- added here-->
                            <div class="tab-pane" id="delete-{{goalid}}" role="tabpanel" aria-labelledby="delete-tab-{{goalid}}">  
                              <form action="{% url 'deleteGoal' %}" method="POST">
                                {% csrf_token %}

                                <input type='hidden' value='{{goal.id}}' name='id'>
                                <p style="color:red; margin-left: 20px;">WARNING: You will be unable to recover your progress if you press the button below!</p>

                                <div class="form-check">
                                  <input style="display:block; margin-left: 135px; margin-top:7px" onchange="allowDelete('delete-btn-{{goalid}}')" class="form-check-input" type="checkbox" value="" id="delete-check-{{goalid}}">
                                  <label style="margin-left:155px;" class="form-check-label" for="delete-check-{{goalid}}">
                                    I understand and want to delete this goal.
                                  </label>
                                </div>
                                <br>

                                <input disabled id="delete-btn-{{goalid}}" style="border:none" type="submit" class="btn-block btn-lg btn-secondary" value="Delete">

                              </form>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  <br>
              {% endwith %}
            {% endif %}
          {% endfor %}
        {% else %}
          <p>You have no goals in progress.</p>
        {% endif %}

        <h3 style="padding-bottom: 10px">Completed</h3>
        {% if goalsCompleted %}
            {% for goal in goalsCompleted %}
              {% if goal.goal_belongs_to == user.username %}
                {% with goal.id|stringformat:"s" as goalid %}
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="card">
                          <div class="card-header bg-info">
                            <ul class="nav nav-tabs card-header-tabs" id="goal-{{goalid}}" role="tablist">
                              <li class="nav-item">
                                <a class="nav-link active" style="color:black" id="progress-tab-{{goalid}}" data-toggle="tab" href="#progress-{{goalid}}" role="tab" aria-controls="progress-{{goalid}}" aria-selected="true">Progress</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link"  style="color:black" id="update-tab-{{goalid}}" href="#update-{{goalid}}" data-toggle="tab" role="tab" aria-controls="update-{{goalid}}" aria-selected="false">Update</a>
                              </li>
                              <li class="nav-item">
                                <a style="color:#8B0000"class="nav-link"  style="color:black" id="delete-tab-{{goalid}}" href="#delete-{{goalid}}" data-toggle="tab" role="tab" aria-controls="delete-{{goalid}}" aria-selected="false">Delete</a>
                            </li>
                            </ul>
                          </div>
                          <div class="card-body">
                            <h4 class="card-title">{{goal.description}}</h4>
                            <h6 class="card-subtitle mb-2">Last Updated: {{goal.last_update}}</h6>
                            
                            <div class="tab-content mt-3">
                              <div class="tab-pane active" id="progress-{{goalid}}" role="tabpanel" aria-labelledby="progress-tab-{{goal.id}}">
                                <div class="">
                                  <p style="color:green; font-size: 25px; font-weight: bold;">Completed &#10003;</p>
                                  <!--<div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width:{{goal.current_progress|mul:100|intdiv:goal.desired_progress}}%; color:black; font-weight:bold" aria-valuenow="{{ goal.current_progress }}|intdiv:{{ goal.desired_progress }}" aria-valuemin="0" aria-valuemax="100">
                                    {{goal.current_progress}} / {{goal.desired_progress}} {{goal.metric}}
                                  </div> -->
                                </div>
                              </div>

                              <div class="tab-pane" id="update-{{goalid}}" role="tabpanel" aria-labelledby="update-tab-{{goalid}}">  
                                <form action="{% url 'updateGoal' %}" method="POST">
                                  {% csrf_token %}

                                  <input type='hidden' value='{{goal.id}}' name='id'>
                                  <input type='hidden' value='{{user.username}}' name='username'>

                                  <textarea type="text" class="form-control" id="description-{{goalid}}" name="description-{{goalid}}">{{goal.description}}</textarea><br>


                                  <script type="text/javascript">
                                    function noMetrics(el1, el2) {
                                      var e1 = document.getElementById(el1);
                                      var e2 = document.getElementById(el2);
                                      //var e3 = document.getElementById(el3);

                                      if(e1.disabled){
                                        e1.disabled = false;
                                      } else {
                                        e1.disabled = true;
                                      }

                                      if(e2.disabled){
                                        e2.disabled = false;
                                      } else {
                                        e2.disabled = true;
                                      }
                                      
                                    }

                                    function allowDelete(el1){
                                    var e1 = document.getElementById(el1);
                                    if(e1.disabled){
                                      e1.disabled = false;
                                      e1.classList.remove("btn-secondary")
                                      e1.classList.add('btn-danger')
                                    } else {
                                      e1.disabled = true;
                                      e1.classList.remove('btn-danger')
                                      e1.classList.add('btn-secondary')
                                    }
                                  }
                                  </script>


                                  <div class="form-row">
                                    <div class="col">
                                      <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-outline-info active">
                                          <input onchange="noMetrics('metric-{{goalid}}', 'desired-{{goalid}}');" type="radio" name="metrics-toggle-{{goalid}}" id="toggle1-{{goalid}}" value="Y-Metrics" checked> Track Metrics
                                        </label>
                                        <label class="btn btn-outline-info">
                                          <input onchange="noMetrics('metric-{{goalid}}', 'desired-{{goalid}}');" type="radio" name="metrics-toggle-{{goalid}}" id="toggle2-{{goalid}}" value="N-Metrics"> Ignore Metrics
                                        </label>
                                      </div>
                                    </div>

                                    <div class="col">
                                      <input type="text" class="form-control" id="metric-{{goalid}}" name="metric-{{goalid}}" value="{{goal.metric}}"></input><br>
                                    </div>
                                  </div>

                                  <div class="form-row">
                                    <div class="col">
                                      <input type="text" class="form-control" id="current-{{goalid}}" name="current-{{goalid}}" value="{{ goal.current_progress|stringformat:"s" }}"></input>
                                      <p style="font-size: 8px">*When 'Ignore Metrics' selected, any value gte 1 indicates completion. Any value lt 1 mean incomplete</p>
                                    </div>
                                    <div class="col">
                                      <input type="text" class="form-control" id="desired-{{goalid}}" name="desired-{{goalid}}" value="{{ goal.desired_progress|stringformat:"s" }}"></input><br>
                                    </div>
                                  </div>
                                  
                                  <input style="border:none" type="submit" class="btn-block btn-lg btn-info" value="Update">
                                </form>
                              </div>

                              <div class="tab-pane" id="delete-{{goalid}}" role="tabpanel" aria-labelledby="delete-tab-{{goalid}}">  
                                <form action="{% url 'deleteGoal' %}" method="POST">
                                  {% csrf_token %}

                                  <input type='hidden' value='{{goal.id}}' name='id'>
                                  <p style="color:red; margin-left: 20px;">WARNING: You will be unable to recover your progress if you press the button below!</p>

                                  <div class="form-check">
                                    <input style="display:block; margin-left: 135px; margin-top:7px" onchange="allowDelete('delete-btn-{{goalid}}')" class="form-check-input" type="checkbox" value="" id="delete-check-{{goalid}}">
                                    <label style="margin-left:155px;" class="form-check-label" for="delete-check-{{goalid}}">
                                      I understand and want to delete this goal.
                                    </label>
                                  </div>
                                  <br>

                                  <input disabled id="delete-btn-{{goalid}}" style="border:none" type="submit" class="btn-block btn-lg btn-secondary" value="Delete">

                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                    <br>
                {% endwith %}
              {% endif %}
            {% endfor %}
          {% else %}
            <p>You have not completed any of your goals.</p>
          {% endif %}
        </div>
        
        <div class="col-4" style="padding-left:45px; padding-top: 50px">
          <div class="card bg-light">
          <div class="card-body">
          <h5 class="card-title">Add New Goal</h5>
          <form action="{% url 'addGoal' %}" method="POST">
            {% csrf_token %}

            <input type='hidden' value='{{user.username}}' name='username'>

            <textarea type="text" class="form-control" id="description-add" name="description-add" placeholder="Provide a brief explanation of your goal."></textarea><br>


            <script type="text/javascript">
              function noMetrics(el1, el2) {
                var e1 = document.getElementById(el1);
                var e2 = document.getElementById(el2);
                //var e3 = document.getElementById(el3);

                if(e1.disabled){
                  e1.disabled = false;
                } else {
                  e1.disabled = true;
                }

                if(e2.disabled){
                  e2.disabled = false;
                } else {
                  e2.disabled = true;
                }
                
              }
            </script>


            <div class="form-row">
              <div class="col">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-info active">
                    <input onchange="noMetrics('metric-add','desired-add');" type="radio" name="metrics-toggle-add" id="toggle1-add" value="Y-Metrics" checked> Track Metrics
                  </label>
                  <label class="btn btn-outline-info">
                    <input onchange="noMetrics('metric-add','desired-add');" type="radio" name="metrics-toggle-add" id="toggle2-add" value="N-Metrics"> Ignore Metrics
                  </label>
                </div>
              </div>
            </div>
            <br>

            <div class="form-row"> 
              <div class="col">
                <input type="text" class="form-control" id="metric-add" name="metric-add" placeholder="Metric (e.g. Calories)"></input><br>
              </div>
            </div>

            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" id="current-add" name="current-add" placeholder="Current Progress"></input>
                <p style="font-size: 8px">*Input a decimal with two places (e.g. 2.01)<br>*Enter 0.00 if just starting out</p>
              </div>
            </div>
            

            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" id="desired-add" name="desired-add" placeholder="Desired Goal"></input>
                <p style="font-size: 8px">*Input a decimal with two places (e.g. 2.01)<br>*Value must be greater than 'Current Progress' value</p>
              </div>
            </div>
            
            <input style="border:none" type="submit" class="btn-block btn-lg btn-info" value="Add">
          </form>
          </div>
          </div>

        </div>
      </div>
    </div>
{% endblock %}
