{% extends 'healthyfriends/base.html' %}
{% load static %}

{% load socialaccount %}
{% providers_media_js %}

{% block title %}
Fitness Guides
{% endblock %}

{% block content %}
<p>Welcome to the guides page! Here you will find a curated list of videos to help you get started!</p>
    {% if videos_list %} 
        {% for video in videos_list %} 
            <p>{{ video.description }}</p>
            <iframe width="560" height="315" src="{{ video.embed }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% endfor %}
    {% else %} 
        <p>There are no videos available currently. Blame Jacob.</p>
    {% endif %}
{% endblock %}