{% extends 'healthyfriends/base.html' %}
{% load static %}

{% load socialaccount %}
{% providers_media_js %}

{% block title %}
<h1>Healthy Friends Leaderboard</h1>
{% endblock %}

{% block content %}
<h2>Total Number of Healthy Friends: {{user_ct}}</h2>
<br>
<table style="width:100%">
    <tr>
        <th>Ranking</th>
        <th>User</th>
        <th>Points</th>
    </tr>
    <tr >
        <td>
            {% for i in rank %}
            <ul >{{i}}</ul>
            {% endfor %}
        </td>
        <td>
            {% for i in users %}
            <ul >{{i}}</ul>
            {% endfor %}
        </td>
        <td>
            {% for i in user_pts %}
            <ul>{{i}}</ul>
            {% endfor %}
        </td>
    </tr>
</table>
{% endblock %}
